<div class="banner">
</div>

<%# https://www.w3schools.com/howto/howto_css_image_overlay_title.asp %>
<%# Add overlay that changes when hover %>
<div class="container text-center">
  <%# How to get grid items in center? %>
  <div class="container text-center my-5">
    <h2 class="pt-1 mb-4 text-white">My Movie Lists</h2>
    <div class="row gy-5">
      <% @lists.each do |list| %>
        <div class="col-md-6">
          <div class="card" style="width: 18rem;">
            <img src="<%=list.image_url%>" class="card-img-top" alt="<%=list.name%>">
              <div class="card-body">
                <p class="card-text fs-5"><%= link_to list.name, list_path(list) %></p>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="d-flex flex-column align-items-center">
    <h2 class="text-white">Create Movie List</h2>

    <div class="form text-black">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :image_url %>
      <%= f.submit %>
    <% end %>
    </div>

    <%= link_to "See bookmarks", bookmarks_path%>
  </div>
</div>


<%# 1.  Get 'lists' grid in the center %>
<%# 2. Override bootstrap, where and how %>
<%# 3. Bookmarks links rendering with a '.' and not a '/'%>
<%# 4. On bookmarks page, add a new bookmark with no pre-existing list %>
<%# 5. How to add a class when using_link_to %>
<%# 6. Show bookmark comment for a particular film %>
<%# 7. Stimulus controller "more" not connecting %>
<%# 8. Why is my string not reading backwards from -1 %>
<%# 9. Implement Reviews pathways  %>
