<div class="container">
  <h2>Movie List - <%= @list.name %></h2>

  <% @list.movies.each do |movie| %>
    <div class="card" data-controller="more" style="width: 20rem;">
      <img src="<%=movie.poster_url%>" class="card-img-top" alt="<%=movie.title%>">
        <div class="card-body">
            <h5 class="card-title text-black"><b><%=movie.title%></b></h5>
            <p class="card-text text-black"><%= string_half(movie.overview)[0] %>
              <span id="dots" data-more-target="dots">...</span>
              <span id="more" data-more-target="span"><%= string_half(movie.overview)[1]%></span>
            </p>
          <a href="#" data-action="click->more#readMore"
          data-more-target="button" class="btn btn-primary">Read More</a>
        </div>
    </div>
  <% end %>

<hr>
<h2 class="mb-3">List Reviews</h2>

  <% @list.reviews.each do |review| %>
    <div class="border mb-3 w-75">
      <h4 class="border p-2"><b>Rating:</b> <%= review.rating %></h4>
      <p class="border p-2"><%= review.comment %></p>
    </div>
  <% end %>



<hr>
  <div>
  <h3>Add New Bookmark</h3>

    <div class="form text-black">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%# f.association will get the movie_id %>
        <%# this works because bookmark belongs_to movie %>
        <%# takes movie_id along with it in params %>
        <%= f.association :movie %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>


  <%# <p><%= link_to "Add movie to list", new_list_bookmark_path(@list) %></p>

  <p>
    <%= link_to "Delete list", list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </p>
  <p><%= link_to "List index", lists_path %></p>
</div>
