<div class="container">
  <h2 class="my-3 text-center">Movie List - <%= @list.name %></h2>

  <div class="container">
    <div class="row">
      <% @list.movies.each do |movie| %>
        <div class="col">
        <div class="card" data-controller="more" style="width: 30rem;">
          <img src="<%=movie.poster_url%>" class="card-img-top" alt="<%=movie.title%>">
            <div class="card-body">
                <h5 class="card-title text-black"><b><%=movie.title%></b></h5>
                <p class="card-text text-black"><%= string_half(movie.overview)[0] %>
                  <span id="dots" data-more-target="dots">...</span>
                  <span id="more" data-more-target="span"><%= string_half(movie.overview)[1]%></span>
                </p>
              <a href="#" data-action="click->more#readMore"
              data-more-target="button" class="btn btn-primary">Read More</a>
            </div>

            <ul class="list-inline">
              <% movie.bookmarks.each do |bookmark|%>
                <li class="text-black list-inline-item ms-3">
                  <div class="d-flex justify-content-start">
                    <i class="fa-solid fa-xl fa-quote-left me-2 pt-1"></i>
                    <p>"<%= bookmark.comment %>"</p>
                  </div>
                  <p><%= link_to "Delete bookmark", bookmark_path(bookmark),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}  %></p>
                </li>
              <% end %>
            </ul>
        </div>
        </div>
      <% end %>
    </div>
  </div>

<hr class="my-5">

<div>
  <h2 class="mb-3">List Reviews</h2></div>
  <div class="d-flex justify-content-between align-items-center">

<%# If/else to determine what's written if no movies.. %>
    <div class="w-75">
      <% if @list.reviews.any? == true %>
        <% @list.reviews.each do |review| %>
            <div class="border mb-3 w-75">
              <h4 class="bg-light p-2 text-black"><b>Rating:</b> <%= review.rating %></h4>
              <p class="p-2"><%= review.comment %></p>
            </div>
        <% end %>
        <%# <% elsif @list.reviews == [] %>
        <% elsif @list.reviews.any? == false %>
          <p class="p-2 text-white"> No reviews yet!</p>
        <% end %>
    </div>

      <div>
      <h4 class="mb-3">Add Review...</h4>
        <div class="form text-black">
          <%= simple_form_for [@list, @review] do |f| %>
            <%= f.input :comment %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate this list", input_html: {data: {controller: "star-rating"}} %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
  </div>


<hr class="my-5">
  <div >
  <h3>Add Bookmark To This List</h3>

    <div class="form text-black">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%# f.association will get the movie_id %>
        <%# this works because bookmark belongs_to movie %>
        <%# takes movie_id along with it in params %>
        <%= f.association :movie %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>


  <%# <p><%= link_to "Add movie to list", new_list_bookmark_path(@list) %></p>

  <p>
    <%= link_to "Delete list", list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </p>
  <p><%= link_to "List index", lists_path %></p>
</div>
