<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/2a23fa00c4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  </head>

  <body class="background-colour text-white">
    <div class="navbar-lewagon d-flex align-items-center border-bottom border-2">
    <div class="d-flex align-items-center ms-2">
      <h1 class="me-2 text-white">MyCinema</h1>
      <i class="fa-sharp fa-solid fa-film fa-2xl text-white"></i>
    </div>
    <button type="button" class="btn btn-warning me-2 p-2">
      <a class="red" href="<%= bookmarks_path %>">Bookmarks</a>
    </button>
  </div>
    <%= yield %>
  </body>
</html>
